<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/tbs_db?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">!travelbooking123</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Schema auto-update settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show generated SQL in console -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        
        <property name="current_session_context_class">thread</property>

        <mapping class="classEntities.Benutzer"/>
        <mapping class="classEntities.Buchung"/>
        <mapping class="classEntities.Flug"/>
        <mapping class="classEntities.Hotel"/>
        <mapping class="classEntities.Transfer"/>
        <mapping class="classEntities.Zahlung"/>

    </session-factory>
</hibernate-configuration>
